/* Styling import for Evercourse
---------------------------------------------- */
@import url("https://coursecontent.everspringpartners.com/evercourse/canvas/prod/cb_msoe_coursebuilder/evercourse.css");

@import 'https://msoe.evaluationkit.com/canvas/css';

/*
 * MSOE Branding 2020
 * July version
 */
 
 /* Typekit Fonts Minion Pro important
 --------------------------------------
 */
 
 @import url("https://use.typekit.net/xly1wsn.css");
 
 @font-face {font-family: "CalibreWeb"; 
	 src: url("https://crescendo-msoe.s3.us-east-2.amazonaws.com/CalibreWeb-Regular.eot"); 
	 src: url("https://crescendo-msoe.s3.us-east-2.amazonaws.com/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"), 
	 url("https://crescendo-msoe.s3.us-east-2.amazonaws.com/CalibreWeb-Regular.woff2") format("woff2"), 
	 url("https://crescendo-msoe.s3.us-east-2.amazonaws.com/CalibreWeb-Regular.woff") format("woff")
	 format('truetype');
}
 
 @font-face {font-family: "CalibreWeb"; 
	 src: url("https://crescendo-msoe.s3.us-east-2.amazonaws.com/CalibreWeb-Black.eot"); 
	 src: url("https://crescendo-msoe.s3.us-east-2.amazonaws.com/CalibreWeb-Black.eot?#iefix") format("embedded-opentype"), 
	 url("https://crescendo-msoe.s3.us-east-2.amazonaws.com/CalibreWeb-Black.woff2") format("woff2"), 
	 url("https://crescendo-msoe.s3.us-east-2.amazonaws.com/CalibreWeb-Black.woff") format("woff")
	 format('truetype');
}

 @font-face {font-family: "CalibreWeb"; 
	 src: url("https://crescendo-msoe.s3.us-east-2.amazonaws.com/CalibreWeb-Bold.eot"); 
	 src: url("https://crescendo-msoe.s3.us-east-2.amazonaws.com/CalibreWeb-Bold.eot?#iefix") format("embedded-opentype"), 
	 url("https://crescendo-msoe.s3.us-east-2.amazonaws.com/CalibreWeb-Bold.woff2") format("woff2"), 
	 url("https://crescendo-msoe.s3.us-east-2.amazonaws.com/CalibreWeb-Bold.woff") format("woff")
	 format('truetype');
}
/*------------------------------
		Ke style sa ka
------------------------------*/
	
 h1, h2, h3, h4, h5, h6 {
	 
 }
 h1 {
    font-family: minion-pro,Minion Pro,sans-serif;
    font-weight: 600;
    font-size: 38px;
    font-size: 2.375rem;
    line-height: 1.57895;
    margin: 20px 0 0;
}
 h2 {
    font-family: CalibreWeb,Calibre Web,sans-serif;
    font-weight: 600;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.14286;
    margin: 40px 0 10px;
}

 h3 {
    font-family: minion-pro,Minion Pro,sans-serif;
    font-weight: 600;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.41667;
    margin: 45px 0 10px;
}

p {
    font-family: CalibreWeb,Calibre Web,sans-serif;
	font-size: 16px;
    font-size: 1rem;
	font-weight: 300;
}

/* Main Global Nav */

.ic-app-header__logomark-container, .ic-app-header__main-navigation { /*Main Nav bknd*/
    background-color: #c5050c !important;
}
.ic-app-header__menu-list-link .ic-icon-svg {
    fill: #fff;
}
body.primary-nav-expanded .menu-item__text {
    color: #fff;
}
/* Avator */
.ic-avatar {
	border: 2px solid #f8f8f8;
}

/* July 6, 2020
---------------------------- */

/* Calendar table header
------------------------- */

#calendar-app .fc-month-view .fc-widget-header {
    background: #F8F8F8;
    color: #c5050c;
}

/* Month tab */
.btn.active {
	background: #c5050c;
}

/* Mini Cal toolbar */
#minical .fc-toolbar, .mini-cal-header {
    background: #c5050c;
	
}
#minical .fc-toolbar h2, #minical .fc-toolbar .h2, #minical .fc-state-default,
i.icon-arrow-open-left, i.icon-arrow-open-right, .mini-cal-header {
    color: #fff;
}

/* Courses Mini Cal header */
.mini-cal-header .prev_month_link, .mini-cal-header .next_month_link {
    background: transparent;
}
.mini_calendar .day.today {
	background: #2D3B45
}.mini_calendar_day.today .day_number {
    color: #fff;
}

/* Add New Event */
#create_new_event_link:hover {
    color: #fff;
}

/* Main Cal Today style */

#calendar-app h2.navigation_title, h2.navigation_title {
    color: #c5050c !important;
    font-weight: 800;
}

#calendar-app .fc-month-view .fc-today, #calendar-drag-and-drop-container .fc-month-view .fc-today {
    background: #555;
    color: #fff;
    font-weight: 700;
}

/* Cal row bknd */
.fc-row.fc-week.fc-widget-content:nth-child(2n), 
#minical .fc-row.fc-week.fc-widget-content:nth-child(2n) {
    background: #f7f7f7;
}

/* Event */
.group_user_449, .group_user_449:hover, .group_user_449:focus {
    color: #fff !important;
    border-color: #0095A7 !important;
    background-color: #0095A7 !important;
}

td.fc-day-number {
    font-weight: 700;
    color: #222;
}

/* Profile
---------------- */
.profileContent__Block h2 {
    color: #c5050c;
}
.list-view a.active {
    border-left: 2px solid #0095a7;
	border-bottom: 2px solid #0095a7;
	background: #f7f7f7;
}

/* Course Main
---------------------- */
.ic-app-course-nav-toggle {
    color: #C5050C;
}
/* Hamburger Colors */
button#courseMenuToggle:hover {
    background: transparent;
	color: #C5050C;
}
/* Add Module*/
button.btn.btn-primary.add_module_link {
    background: #c5050c;
    color: #fff;
}
button.btn.btn-primary.add_module_link:hover {
    background: #EB0F06;
}

#breadcrumbs ul, #breadcrumbs>ul li>a {
    color: #C5050C; /*0095A7*/
}
#breadcrumbs>ul>li {
    font-family: CalibreWeb,Calibre Web,sans-serif;
}
/* Left Side Navigation */
div#left-side {
    font-family: CalibreWeb,Calibre Web,sans-serif;
}

/* Course nav */
.list-view>nav>ul>li>a:focus {
    outline-style: auto;  
    /*background: #BFD500; #00AC18;*/
}

/* Course Sidebar
---------------------- */
.btn, .Button, .ui-button {
    background: #f5f5f5;
    color: #000;
}
/* .ui-button:hover, .ui-button.ui-state-hover*/
.btn:hover, .Button:hover, button.navigate_prev.btn.ui-button:hover, button.navigate_next.btn.ui-button:hover {
    background: #008489;
    color: #fff;
}

/* Publish btn Styling
------------------------ */
button.ui-button.btn-publish, .btn-published.disabled {
    background: #0095A7; /*#00AC18;-Green*/
	opacity: 1;
	color: #fff; /* edited @12:10 am 7/21/2020 */
}button.ui-button.btn-publish:hover {
    background: #008489;
	color: #fff;
}
/* Published Icons within Content Area */
.published-status.published, .publish-icon.publish-icon-published {
    color: #0095A7;
}
/* Context Module border */
.ig-list .ig-row.ig-published:not(.student-view):before {
    background-color: #0095A7;
    border-top: 1px solid #0095A7;
    border-bottom: 1px solid #0095A7;
}
/* Type Icons on Context Module --.ig-published:not(.student-view) .ig-type-icon */
span.type_icon span.ig-type-icon i.icon-paperclip,
span.type_icon span.ig-type-icon i.icon-document,
span.type_icon span.ig-type-icon i.icon-discussion,
.ig-type-icon i.icon-discussion,
span.type_icon span.ig-type-icon i.icon-assignment,
.ig-type-icon i.icon-assignment,
span.type_icon span.ig-type-icon i.icon-quiz,
.ig-type-icon i.icon-quiz,
span.type_icon span.ig-type-icon i.i.icon-quiz.icon-Solid,
span.type_icon span.ig-type-icon i.icon-link {
    color: #0095A7;
}

.list-view a:hover {
	background: #c5050c;
	text-decoration: none !important;
	color: #fff;
}
.list-view a.active {
    color: #fff;
    background: #0095A7;
    border-radius: 3px;
}

/* Course Status BTNs
---------------------- */
.btn-unpublish.disabled, .btn-unpublish[disabled] {
    opacity: 0.7;
}

/* Published Button 
---------------------- */

.btn.btn-published {
    background: #BFD500;
    color: #fff;
}
.btn-primary, .Button--primary {
	border-color: inherit;
}

/* Syllabus 
-------------------- */

/* Course Template
---------------------- */

#content .show-content h2.class_title, h2.quick_access {
    color: #fff;
	background: #C5050C; 
	text-align: left; 
	padding-left: 5px;
    line-height: 1.5;
	text-decoration: none;
}
#content .show-content h2.welcome {
	color: #333;
	font-weight: 600;
	text-align: left;
    line-height: 1.5;
	text-decoration: none;
	border-bottom: 1px inset #C7CDD1;
}
#content a.external {
    border-bottom: 1px solid #000;
    text-decoration: none;
}
#content a.external:hover, #content a.external:focus, #content a.external:active,
a.external:hover span, a.external:focus span, a.external:active span {
	border-bottom: 1px solid #0095a7;
    text-decoration: none;
}

.ic-Dashboard-header__title {
    text-decoration: none;
}

/* Alert Success Box
------------------------ */

.ic-flash-info, .ic-flash-info .ic-flash__icon, .ic-flash-success .ic-flash__icon {
	background-color: #BFD500;
	color: #fff;
}

.ic-flash-success {
	border-color: #BFD500
}

/* Course Invite Box - Content Export
-------------------------------------- */
.ic-notification.ic-notification--success {
    border-color: #BFD500;
}
.ui-state-active, .ui-progressbar .ui-widget-header, .ui-widget-header .ui-state-active, .ui-widget-header .ui-progressbar .ui-widget-header, .ui-progressbar .ui-widget-header .ui-widget-header {
    border: 1px solid #add500;
    color: #fff;
    background: #bfd500;
    background-image: linear-gradient(to bottom, #d6ef00 , #a8bc00);
}
/* Course Invite Box - Course Invite Alert */
.ic-notification.ic-notification--success .ic-notification__icon {
    background: #BFD500;
}


/* Courses Collapsable List 
------------------------------------- */

a.fOyUs_bGBk.fbyHH_bGBk.fbyHH_bSMN {
    font-family: CalibreWeb,Calibre Web,sans-serif;
}
div.cjUyb_bGBk.cjUyb_dfBC.cjUyb_pEgL.cjUyb_eQnG {
	font-size: 0.875rem;
	font-family: minion-pro,Minion Pro,sans-serif;
}

.MYpOQ_bGBk h3 {
	font-family: minion-pro,Minion Pro,sans-serif;
}

h3.fOyUs_bGBk.emyav_bGBk.emyav_bAmB.emyav_fAVi {
	font-size: 20px;
	font-size: 1.25rem;
    padding: 6px;
    background: #c5050c;
    color: #fff;
	border-radius: 3px;
}

/* Hidding Footer on Dashboard
------------------------------- */
footer.ic-app-footer {
    display: none;
}

/* Mobile Style */
@media only screen and (max-width: 768px) {

	#mobile-header {
		background-color: #c5050c;
	}
	#mobile-header *, i#mobileHeaderArrowIcon {color:#fff; /*background:rgb(0 0 0 / 20%)*/}

	/* Hamburger Icon */
	i.icon-solid.icon-hamburger {
		color: #c5050c;
	}i.icon-solid.icon-hamburger::before {
		font-weight: bold!important;
	}
	/* Global Nav */
	button.Button.Button--icon-action-rev.Button--large.mobile-header-hamburger {
		background: #fff;
		border-radius: 30px;
		top: 2px;
	}
	#mobile-header .Button {
		background: inherit;
	}
	button.fOyUs_bGBk.eHiXd_bGBk.eHiXd_dnnz.eHiXd_ycrn.eHiXd_bPzo.eHiXd_cuTS.eHiXd_wWyq {
		background: #c5050c;
		border-radius: 26px;
		color: #fff;
	}
	/* GN Dashboard */
	li.fOyUs_bGBk.dxCCp_bGBk.dxCCp_fLbg.dxCCp_ycrn.dxCCp_cfzP.dxCCp_cYsY {
		border-bottom: 1px solid #7c878e;
	}
	a.fOyUs_bGBk.eHiXd_bGBk.eHiXd_brAJ.eHiXd_doqw.eHiXd_eESV.eHiXd_cuTS,
	span.fOyUs_bGBk.fOyUs_desw.cGJLp_bGBk.cGJLp_busO.cGJLp_fZWR.cGJLp_qOas span.cjUyb_bGBk.cjUyb_ycrn.cjUyb_eQnG.cjUyb_fpfC,
	svg.esvoZ_bGBk.esvoZ_cVUo.esvoZ_cRbP.cGqzL_bGBk.cGqzL_VCXp {
		font-weight: 800;
		color: #000;
	}
	
	/* GN Hover */
	a.fOyUs_bGBk.eHiXd_bGBk.eHiXd_brAJ.eHiXd_doqw.eHiXd_eESV.eHiXd_cuTS:hover,
	svg.esvoZ_bGBk.esvoZ_cVUo.esvoZ_cRbP.cGqzL_bGBk.cGqzL_VCXp:hover,
	span.fOyUs_bGBk.fOyUs_desw.cGJLp_bGBk.cGJLp_busO.cGJLp_fZWR.cGJLp_qOas span.cjUyb_bGBk.cjUyb_ycrn.cjUyb_eQnG.cjUyb_fpfC:hover,
	span.MlJlv_doNn:hover
	{
		text-decoration: none;
		color: #c5050c;
	}
	
	/* Mobile Course Menu */
	span.bNerA_bGBk.bNerA_dTOw.bNerA_NmrE.bNerA_qfdC.bNerA_yZGt.bNerA_cKZZ.bNerA_fucb.bNerA_fwxB.bNerA_flKG.bNerA_efaD {
		width: 100%;
	}
	span.fxIji_bGBk.fxIji_bWOh.fxIji_NmrE.fxIji_cKZZ.fxIji_yZGt.fxIji_dTOw a {
		width: 100%;
		color: #333;
		border-radius: unset;
	}

	a.mobile-header-title.expandable span {
		font-weight: 700;
	}

	span.fxIji_bGBk.fxIji_bWOh.fxIji_NmrE.fxIji_cKZZ.fxIji_yZGt.fxIji_dTOw a:hover{
		background: #c5050c;
		text-decoration: none;
		width: 100%;
		color: #fff !important;
	}
	span.fxIji_bGBk.fxIji_bWOh.fxIji_NmrE.fxIji_cKZZ.fxIji_yZGt.fxIji_dTOw a:active {
		background: #0095a7;
	}
	span.bNerA_bGBk.bNerA_dTOw.bNerA_NmrE.bNerA_qfdC.bNerA_yZGt.bNerA_cKZZ.bNerA_fucb.bNerA_fwxB.bNerA_flKG.bNerA_efaD 
	.eHiXd_caGd span.enRcg_bGBk.enRcg_ycrn.enRcg_bdMA.enRcg_eQnG {
		font-weight: bold;
		
	}

}

/* Primary Nav Expanded */
@media only screen and (min-width: 768px) {
	body:not(.no-headers).primary-nav-expanded .ic-Layout-wrapper {
		margin-left: 94px;
	}
}

/* Email Notification Icon on GN */
.menu-item__badge {
	background: #000;
    color: #fff;
}

/* Testing for Chrome Large Font Size */
body.primary-nav-expanded .ic-app-header {
    width: 96px !important;	
}

.ic-app-course-menu {
    width: 204px !important;
}

/* Current Theme - Theme Edit
------------------------------- */
.ic-ThemeCard.ic-ThemeCard--is-active-theme {
    background: #BFD500;
    border-color: #BFD500;
    box-shadow: 0 0 0 4px #BFD500, 0 0 8px 4px rgba(0,0,0,0.15);
}
.ic-ThemeCard-status.ic-ThemeCard-status--is-active-theme {
    padding: 12px 12px 8px 12px;
    background: #BFD500;
}

/* Theme Header for Active Theme - Theme Edit
---------------------------------------------- */
.Theme__header.Theme__header--is-active-theme {
    background: #BFD500;
}

/* global pairing code setting - hiding the btn 3-8-2023
--------------------------------------------------------- */

#pairing-code {
	display: none !important;
}
